:root {
  --bg-base: #191426;
  --bg-surface: #372D4D;
  --ui-border: #524666;
  --ui-accent: #706282;
  --text-main: #F3F0F5;
}

body {
  background-color: var(--bg-base);
  color: var(--text-main);
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}